@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Belarus, Zhlobin, ...
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sergeylapp@gmail.com">sergey.lapp@gmail.com</a><br />
</address>